<div class="col-xl-6 col-md-6 col-sm-7 col-8" style="margin:auto; padding: 5px">
  <div id="edituser">
    <h2 >Edit <%= resource_name.to_s.humanize %></h2>
  </div>

  <%= form_for(resource, as: resource_name, data:{turbo:false}, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

        <div class="field">
      <%= f.label :bio %><br />
      <%= f.text_field :bio, class:"form-control" %>
    </div>

     <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username, class:"form-control " %>
    </div>

      <div class="field">
      <%= f.file_field :avatar, class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :password %> <br />
      <%= f.password_field :password, autocomplete: "new-password",placeholder:"leave blank if you don't want to change it",class:"form-control" %>
      <% if @minimum_password_length %>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder:"Confirm your password",class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :current_password %>
      <%= f.password_field :current_password, autocomplete: "current-password",placeholder:"We need your current password to confirm your changes", class:"form-control" %>
    </div>
    <br />
    <div class="actions">
      <%= f.submit "Update", class:"btn btn-success col-12" %>
    </div>
  <% end %>



 <%#=button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class:"btn btn-info col-12" %>

  <%= link_to "Back", :back, class:"btn btn-secondary col-12", style:"margin-top:5px; margin-bottom:10px" %>
</div>
